<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2022 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.autoconstructor.AutoConstructorMapper">
	<!-- 로그인 시 / 아이디 확인 -->
	<select id="userLogAll" resultType="shop.ShopUserDTO">
		select * from SHOP_USER 
		where (user_id = #{user_id} OR user_email = #{user_id}) 
		AND user_pwd = #{user_pwd}
	</select>
	
	<select id="userMyPageId" resultType="shop.ShopUserDTO">
		select * from shop_user
		where user_id = #{user_id}
	</select>
	
	<update id="userMyPageUp" parameterType="shop.ShopUserDTO">
		update shop_user
		set ${user_pwd} = #{user_name}
		where user_id = #{user_id}
	</update>

	<delete id="userMyPageDel" parameterType="shop.ShopUserDTO">
		delete from shop_user
		where user_id = #{user_id}
	</delete>
	
	<select id="userFind" resultType="shop.ShopUserDTO">
		select * from shop_user
		where user_phone = #{user_phone}
	</select>
	
	<insert id="userRegister" parameterType="shop.ShopUserDTO">
		Insert Into shop_user
		Values (
			#{user_id},
			#{user_pwd},
			#{user_name},
			#{user_phone},
			#{user_email},
			#{user_addr},
			#{user_rank}
		)
	</insert>
	
</mapper>